.tableDiv {
  position: relative;

  .table {
    width: 100%;
    text-align: left;
    table-layout: fixed;
  }
}

.table-header {
  border-spacing: 0;
}

.trHeader > th {
  background: rgba(255, 255, 255, 0.5);
  font-size: 0.8rem;
  font-weight: 100;
  padding: 0.5rem;
  margin: 0;
  text-align: center;
  cursor: pointer;

  &:hover {
    background: rgba(255, 255, 255, 0.8);
  }
}

.table-body {
  width: 100%;
}

.trBody {
  th {
    background: rgba(117, 113, 113, 0.5);
    font-size: 0.8rem;
    font-weight: 100;
    padding: 0.5rem;
    margin: 0;
    text-align: center;
    cursor: pointer;

    &:hover {
      background: rgba(255, 255, 255, 0.8);
    }
  }

  .iconAndLink {
    height:100%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;

    img {
      width: 30px;
      height: 30px;
      border-radius:50%;
      margin-right: 10px;
    }

    a {
      font-size: 0.8rem;
      color: #000000
    }
  }
}
