@import 'fonts';
@import './normalize.css';
$primary_font: 'Fredoka One',
sans-serif;
$first_color: rgba(0, 255, 21, 0.5);
$second_color: rgba(255, 0, 0, 0.5);
* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    font-size: 30px;
}

@keyframes tetris {
    0% {
        transform: rotate(-45deg)
    }
    50% {
        transform: rotate(-135deg)
    }
    100% {
        transform: rotate(-225deg)
    }
}

@keyframes span-1 {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(-30px, 0);
        border-color: #EE4D68
    }
    100% {
        transform: translate(0);
    }
}

@keyframes span-2 {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(30px, 0);
        border-color: #875678
    }
    100% {
        transform: translate(0);
    }
}

@keyframes span-3 {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(0, -30px);
        border-color: #FF9900
    }
    100% {
        transform: translate(0);
    }
}

@keyframes span-4 {
    0% {
        transform: translate(0);
    }
    50% {
        transform: translate(0, 30px);
        border-color: #00E4F6
    }
    100% {
        transform: translate(0);
    }
}

.tetris {
    width: 30px;
    height: 30px;
    position: relative;
    top: 10px !important;
    left: 15px;
    animation: tetris 2s infinite ease-in-out;
}

.tetris span {
    width: 30px;
    height: 30px;
    position: absolute;
    left: 0;
    top: 0;
    border: 4px solid #0B1B48;
}

.tetris:hover {
    cursor: pointer;
    span:nth-child(1) {
        animation: span-1 2s ease-in-out infinite;
    }
    span:nth-child(2) {
        animation: span-2 2s ease-in-out infinite;
    }
    span:nth-child(3) {
        animation: span-3 2s ease-in-out infinite;
    }
    span:nth-child(4) {
        animation: span-4 2s ease-in-out infinite;
    }
}

.animation {
    font-family: $primary_font;
    font-size: 1em;
    line-height: 1em;
    text-align: center;
    position: relative;
    top: 50%;
    transform: translateY(-50%);
    &:hover {
        cursor: pointer;
    }
}

.wrapperText {
    display: inline-block;
    top: -900px;
    position: relative;
    height: 150px;
    width: 90px;
    transition: ease 0.2s all;
    -webkit-text-stroke: .02em #161616;
    span {
        position: absolute;
        top: 0;
        right: 0;
        transition: ease 0.3s all;
        &.letter-2 {
            color: $first_color;
        }
        &.letter-1 {
            color: $second_color;
            z-index: 1;
            &:hover {
                top: -3px;
                right: -3px;
                ~.letter-2 {
                    top: 3px;
                    right: 3px;
                }
            }
        }
        &.space {
            padding: 0;
            min-width: 15px;
            display: inline-block;
        }
    }
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: #000000;
    overflow: hidden;
}

.spinner div:first-child {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgb(255, 255, 255);
    transform: translate3d(0, 0, 0);
    animation: spin 2s linear infinite;
}

.spinner div:first-child:after,
.spinner div:first-child:before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.spinner div:first-child:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 3px 3px 0 rgb(255, 0, 0);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.spinner div:first-child:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 3px 3px 0 rgb(255, 255, 255);
    animation: spin 1.5s linear infinite;
}

.loaded_hiding .spinner {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .spinner {
    display: none;
}

body {
    margin: 0 auto;
    background: url(../assets/image/bg.png) top;
    background-size: cover;
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    padding: 0 40px;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
    margin: 5px 0 0;
}

.header__logo {
    margin: 8px;
    padding: 4px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 8vh;
    border: #0081fa 5px solid;
    h1 {
        display: flex;
        margin: 12px;
        padding-left: 1.5rem;
        span {
            margin: 0;
            padding: 2px;
            font-family: 'Pixel';
            font-size: 39px;
            font-weight: 200;
            margin: 0;
            -webkit-text-stroke: .03em #161616;
        }
    }
    img {
        padding-left: 20px;
        width: 70px;
        height: 70px;
    }
}

.header__login {
    margin: 8px;
    padding: 4px 20px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 8vh;
    border: #fa004b 5px solid;
    display: flex;
    flex-direction: column;
    justify-content: center;
    a {
        color: #ff4a95;
        text-decoration: none;
        -webkit-text-stroke: .02em #161616;
        &:hover {
            color: rgb(241, 99, 33);
        }
    }
}

.content {
    height: 65vh;
    margin: 0;
    display: flex;
    position: relative;
    top: 0;
    justify-content: space-between;
    transition: 0.9s ease-in-out;
}

.popup {
    position: absolute;
    background: #323232;
    opacity: 0.97;
    width: 100%;
    height: 100%;
    border-radius: 6%;
    border: 2px #04fb2e solid;
    display: flex;
    transition: 1s opacity;
    h2 {
        align-self: center;
        margin: 0 auto;
        font-size: 2rem;
        color: #fff;
        letter-spacing: 5px;
        -webkit-text-stroke: #000 1px;
    }
}

.content__stat {
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border: #d9ff00 5px solid;
    h2 {
        text-align: center;
    }
    p {
        font-size: 20px;
    }
}

.content__game {
    margin: 8px;
    border: #fa8500 5px solid;
    border-radius: 3%;
    #game {
        height: 61vh;
        canvas {
            height: 102%;
            width: auto;
            margin: 0 auto;
            border-radius: 2%;
        }
    }
}

.content__gameProp {
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border: #33ff00 5px solid;
}

.blocks {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-bottom: thin;
    border-radius: 5%;
}

.downpage {
    margin: 8px;
    position: relative;
    top: 0;
    transition: 0.7s ease-in-out;
}

.slide {
    margin: 0 0 12px;
    display: flex;
    height: 7.5vh;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.5);
    border: #b302b9 5px solid;
    border-bottom: thin;
    p {
        align-self: center;
    }
    &:hover {
        cursor: pointer;
    }
}

.scroll {
    width: 30px;
    height: 30px;
    border: 3px solid #6c0070;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    margin: 3px auto 15px auto;
    box-sizing: border-box;
}

.scroll::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    width: 9px;
    height: 9px;
    border-left: 3px solid #6c0070;
    border-bottom: 3px solid #6c0070;
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

.article {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0 16px;
    height: 64vh;
    position: absolute;
    top: 30rem;
    flex-direction: column;
    transition: 0.9s ease-in-out;
    border: #00fa3e 5px solid;
    border-bottom: thin;
    h2 {
        align-self: center;
        padding-bottom: 10px;
    }
    p {
        padding: 5px 10px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    border: #017474 5px solid;
    .authors {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
        align-items: center;
        padding: 10px 0;
        h3 {
            font-size: 30px;
            color: #fff;
            -webkit-text-stroke: #000 1px;
        }
        a {
            font-size: 24px;
        }
        img {
            width: 80px;
        }
        p {
            color: #fff;
            -webkit-text-stroke: #000 1px;
        }
    }
}
