@import 'fonts';
* {
    margin: 0;
    padding: 0;
    font-family: fantasy;
    font-size: 30px;
}

@-webkit-keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

@-moz-keyframes spin {
    0% {
        -moz-transform: rotate(0);
    }
    100% {
        -moz-transform: rotate(360deg);
    }
}

@keyframes spin {
    0% {
        transform: rotate(0);
    }
    100% {
        transform: rotate(360deg);
    }
}

.spinner {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    z-index: 1003;
    background: #000000;
    overflow: hidden;
}

.spinner div:first-child {
    display: block;
    position: relative;
    left: 50%;
    top: 50%;
    width: 150px;
    height: 150px;
    margin: -75px 0 0 -75px;
    border-radius: 50%;
    box-shadow: 0 3px 3px 0 rgba(255, 56, 106, 1);
    transform: translate3d(0, 0, 0);
    animation: spin 2s linear infinite;
}

.spinner div:first-child:after,
.spinner div:first-child:before {
    content: '';
    position: absolute;
    border-radius: 50%;
}

.spinner div:first-child:before {
    top: 5px;
    left: 5px;
    right: 5px;
    bottom: 5px;
    box-shadow: 0 3px 3px 0 rgb(255, 228, 32);
    -webkit-animation: spin 3s linear infinite;
    animation: spin 3s linear infinite;
}

.spinner div:first-child:after {
    top: 15px;
    left: 15px;
    right: 15px;
    bottom: 15px;
    box-shadow: 0 3px 3px 0 rgba(61, 175, 255, 1);
    animation: spin 1.5s linear infinite;
}

.loaded_hiding .spinner {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .spinner {
    display: none;
}

body {
    margin: 0 auto;
    background: url(../assets/image/bg.png) top;
    background-size: cover;
    max-width: 1920px;
    max-height: 1080px;
    width: 100%;
    height: 100%;
    overflow: hidden;
}

.wrapper {
    padding: 0 40px;
}

.loaded_hiding .preloader {
    transition: 0.3s opacity;
    opacity: 0;
}

.loaded .preloader {
    display: none;
}

.header {
    display: flex;
    justify-content: space-between;
}

.header__logo {
    margin: 8px;
    display: flex;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 100%;
    border: #0081fa 5px solid;
    h1 {
        padding: 10px 30px;
        font-family: 'Pixel';
        color: #000000;
        font-size: 37px;
        font-weight: 400;
    }
    img {
        padding-left: 20px;
    }
}

.header__login {
    margin: 8px;
    padding: 10px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 50%;
    height: 100%;
    border: #fa004b 5px solid;
}

.content {
    margin: 0;
    display: flex;
    position: relative;
    top: 0;
    justify-content: space-between;
    transition: 0.9s ease-in-out;
}

.content__stat {
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border: #d9ff00 5px solid;
    h2 {
        text-align: center;
    }
    span {
        font-size: 20px;
    }
}

.content__game {
    margin: 8px;
    border: #fa8500 5px solid;
    border-radius: 3%;
    #game {
        height: 460px;
        canvas {
            width: 220px;
            margin: 0 auto;
        }
    }
}

.content__gameProp {
    margin: 8px;
    background-color: rgba(255, 255, 255, 0.5);
    width: 100%;
    border: #33ff00 5px solid;
}

.blocks {
    box-shadow: 0 14px 28px rgba(0, 0, 0, 0.25), 0 10px 10px rgba(0, 0, 0, 0.22);
    border-bottom: thin;
    border-radius: 5%;
}

.downpage {
    margin: 8px;
    position: relative;
    top: 0;
    transition: 0.7s ease-in-out;
}

.slide {
    margin: 0 0 16px;
    display: flex;
    justify-content: space-evenly;
    background-color: rgba(255, 255, 255, 0.5);
    border: #b302b9 5px solid;
    border-bottom: thin;
    p {
        align-self: center;
    }
    &:hover {
        cursor: pointer;
    }
}

.scroll {
    width: 30px;
    height: 30px;
    border: 3px solid #6c0070;
    border-radius: 50%;
    position: relative;
    animation: down 1.5s infinite;
    margin: 3px auto 15px auto;
    box-sizing: border-box;
}

.scroll::before {
    content: '';
    position: absolute;
    top: 4px;
    left: 6px;
    width: 9px;
    height: 9px;
    border-left: 3px solid #6c0070;
    border-bottom: 3px solid #6c0070;
    transform: rotate(-45deg);
}

@keyframes down {
    0% {
        transform: translate(0);
    }
    20% {
        transform: translateY(15px);
    }
    40% {
        transform: translate(0);
    }
}

.article {
    background-color: rgba(255, 255, 255, 0.5);
    margin: 0 0 16px;
    position: absolute;
    top: 30rem;
    flex-direction: column;
    transition: 0.9s ease-in-out;
    border: #00fa3e 5px solid;
    border-bottom: thin;
    h2 {
        align-self: center;
        padding-bottom: 10px;
    }
    p {
        padding: 5px 10px;
    }
}

.footer {
    display: flex;
    justify-content: space-between;
    background-color: rgba(255, 255, 255, 0.5);
    border: #017474 5px solid;
    .authors {
        width: 100%;
        display: flex;
        justify-content: space-evenly;
    }
}
